@import 'core/settings';

.wrapper__callHistory {
  max-width: 1900px;
  position: relative;
}
.main__wrapper--callHistory {
  width: 1300px;
  // width: 1140px;
  margin: 0 auto;
}
.table {
  position: absolute;
  right: 60px;
  margin-top: 64px;
  text-align: left;
  border-collapse: collapse;
}
.table__title {
  width: 242px;
  font-size: 24px;
  color: $color-grey;
  line-height: 29px;
}
.title__questions {
  width: 242px;
  padding-left: 45px;
  text-align: left;
}
tr {
  border-collapse: collapse;
}
td {
  padding-left: 45px;
  border-collapse: collapse;
  border-bottom: 1px solid #1d1d1d;
}
.cell {
  text-align: left;
}
.table__date--item {
  text-align: right;
}
.date--item {
  text-align: right;
}
.title__date {
  color: $color-white;
  width: 149px;
  text-align: right;
}
.input-date {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 32px;
  width: 140px;
  background-color: $color-blacK;
  color: $color-grey;
  font-family: Favorit, 'Open Sans', sans-serif;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 8px;
  background-color: $color-blacK;
  border-width: 1px;
}

///NEW STYLES
.date__day {
  color: #717171;
  font-size: 14px;
  text-align: right;
  // line-height: 18px;
  margin: 0;
}
.hour {
  text-align: right;
  margin: 0;
  font-size: 14px;
}
.askfor {
  color: #717171;
  margin: 0;
  font-size: 14px;
}
.name {
  color: #717171;
  margin: 0;
  font-size: 14px;
}
.company {
  color: #717171;
  margin: 0;
  font-size: 14px;
}
.position {
  color: #717171;
  margin: 0;
  font-size: 14px;
}
.otherinfo {
  color: #717171;
  margin: 0;
  font-size: 14px;
}

th.cell {
  padding: 1px 1px 1px 45px;
  border-bottom: 1px solid white;
}

th.table__title {
  border-bottom: 0;
}

.main__subtitle--date-container-history {
  display: flex;
  flex-direction: column;
  width: 350px;
}
